{% extends '../layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<p class="text-primary">Sorry for messed up UI .I am not a floatend guy</p>

<a href="https://pbpcurrencyratesapi.herokuapp.com/exchange_rate">
  <i class="tim-icons icon-align-center"></i>
  <p class="text-info">Click to TEST ENDPOINT</p>
</a>

<a href="https://pbpcurrencyratesapi.herokuapp.com/admin">
  <i class="tim-icons icon-bullet-list-67"></i>
  <p class="text-info">Click to Login into  Admin</p>
</a>



<a href="">
  <i class="tim-icons icon-single-02"></i>
  <p class="text-info">click to check Profile</p>
</a>




{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
