
  <footer class="footer">
    <!-- <div class="container-fluid"> -->
      <ul class="nav">
        <li class="nav-item">
          <h3 class="text-info">
            <span>PbP Currency Rate Converter</span>
          </h3>

        </li>
      </ul>
      <div class="copyright">

        <h4 class="text-info">Login user can only access endpoint</h4>

        <a href="http://127.0.0.1:8000/exchange_rate">
          <i class="tim-icons icon-spaceship"></i>
          <p class="text-warning">Click to Test EndPoint Before Login</p>
        </a>

      </div>
    <!-- </div> -->
  </footer>
