

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a target="_blank" 
             href="" class="simple-text logo-mini">
            
          </a>
          <a target="_blank" 
             href="" class="simple-text logo-normal">
            Test Menu
          </a>
        </div>

        {% if user.is_authenticated %}
        <ul class="nav">
          <li class="active ">
            <a href="http://127.0.0.1:8000/exchange_rate">
              <i class="tim-icons icon-align-center"></i>
              <p>TEST ENDPOINT</p>
            </a>
          </li>
          <li>

        <li>
        <a href="http://127.0.0.1:8000/admin">
          <i class="tim-icons icon-bullet-list-67"></i>
          <p>Login into  Admin</p>
        </a>
      </li>


          <li>
            <a href="">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>

          <li class="active-pro">
            <a href="{% url 'users:logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>

        </ul>
        {% endif %}
        
      </div>
    </div>
