{% extends ".../layouts/base.html" %}

{% block content %}


<div class="row">

  <div class="col-12">
    <div class="card card-chart">
        

      <div class="card-body">
        <form class="form-horizontal" role="form" method="POST">
          {% csrf_token %}
    
          {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
            <p>
              Enter {{field.label}} you reqister with here: {{ field}}
    
            {% if field.errors %}
            <div class='text-danger alert alert-danger'>{{ field.errors|join:'<br />' }}</div>
            {% endif %}
    
            {% if field.help_text %}
            <span class="help-block text-muted">
              <small>{{ field.help_text }}</small>
            </span>
            {% endif %}
            </p>
    
          {% endfor %}
          </div>
          <button type="submit" class="btn btn-success">Reset</button>
        </form>


      </div>
    </div>
  </div>

</div>
    
{% endblock %}
